.breadcrumbs ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumbs li {
    margin-right: 0.5rem;
}

.breadcrumbs li::after {
    content: "/";
    margin-left: 0.5rem;
    color: #6c757d;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumbs li.active {
    color: #6c757d;
}